<!DOCTYPE html>
<html>
  <head>
    <title>trade-A-record</title>
    <link rel="shortcut icon" href="/images/trade-A-record.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header id="site-header">
    <h1><a href="/">trade-A-record <img src="/images/trade-A-record.png" alt="record icon"></a> </h1>
    <nav>
      <ul>
        {{#unless currentUser}}
        <li><a href="/auth/signup">SignUp</a></li>
        <li><a href="/auth/login">LogIn</a></li>
        {{/unless}}
        {{#if currentUser}}
        <li>
          <p>Logged in as: {{currentUser.username}}</p> 
          <form method="POST" action="/auth/logout">
            <button type="submit">Log Out</button>
          </form>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <body class="container">
    {{{body}}}
  </body>
  <footer>
    <p>Buy more vinyl!</p>
  </footer>
</html>