<!DOCTYPE html>
<html lang="en">

  <head>
    <title>trade-A-record</title>
    <link rel="shortcut icon" href="/images/tAr_fav.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:700,900" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  </head>
  <body>
  <header id="site-header" class="container">
    <a href="/"><img class="logo" src="/images/trade-A-record.png" alt="record icon"></a> 
      <div class="navbar-toggle-button" id="menu_trigger">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
    <nav id="main-nav" class="navigation">
      <ul>
        {{#if currentUser}}
        <li><span class="auth">Hello, <a href="/profile">{{currentUser.username}}</a>!</span></li>
        {{/if}}
        <li><a href="/">Homepage</a></li>
        {{#if currentUser}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/profile/inbox">Inbox</a></li>
        <li><a href="/profile/requests">Requests</a></li>
        {{/if}}
        <li><a href="/records">All Records</a></li>
        {{#if currentUser}}
        <li><a href="/profile/records">My Collection</a></li>
        {{/if}}
        {{#unless currentUser}}
        <li class="auth"><a href="/auth/signup">Sign Up</a></li>
        <li class="auth"><a href="/auth/login">Log In</a></li>
        {{/unless}}
        {{#if currentUser}}
       
          <form method="POST" action="/auth/logout">
            <button class="auth" type="submit">Log Out</button>
          </form>
       
        {{/if}}
      </ul>
    </nav>
  </header>
  <main id="site-main" class="container">
    {{{body}}}
  </main>  
  <footer id="site-footer" role="contentinfo">
    <ul class="social-media">
      <li><a href="http://www.instagram.com/" target="_blank"><img src="/images/instagram.png" ></a></li>
      <li><a href="https://facebook.com/" target="_blank"><img src="/images/facebook.png" ></a></li>
    </ul>
    <ul class="fine-print">
    <li>Terms & Conditions</li>
    <li>Meet the team</li>
    <li>Buy more vinyl!</li>
    </ul>
  </footer>
  <script src="/javascript/main.js"></script>
 </body>
</html>