
<section class="form">

<form method="POST" action="/auth/login">

  <div class="field" >
    <label>Username</label>
    <input type="text" name="username" value="{{fields.username}}" placeholder="Your Username"/>
  </div>

  <div class="field" >
    <label>Password: </label>
    <input type="password" name="password" placeholder="Your password"/>
  </div>
    {{#if message1}}
      <p class="validation">{{message1}}</p>
    {{/if}}
    {{#if message2}}
      <p class="validation">{{message2}}</p>
    {{/if}}
  <div class="field submit">
    <button class="button" type="submit">Login</button>
    <hr>
    <p>or <a href="signup">sign-up</a>, if you don't have an account.</p>
  </div>
</form>


</section>
