<h1>Hello, <br> <strong>{{currentUser.username}}</strong>!</h1>
<h3>Welcome to your profile.</h3>
  
  <div class="profile-usermenu">
    <ul class="nav">
        <li class="active">
          <a href="/profile/records">Have a look at your collection!</a>
        </li>
        <li>
          <a href="/profile/inbox">Here are your incoming requests: </a>
        </li>

    <div>
        {{#each records}}
        <li class="record">
        <div>
            <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div>
            <h2>{{this.name}}</h2>
            <h3>{{this.artist}}</h3>
        </div>
        </li>
        {{/each}}
    </div>
    </ul>
  </div>