<h1>Hello, <br> <strong>{{currentUser.username}}</strong>!</h1>
<h3>Welcome to your profile.</h3>
  <div class="profile-userpic">
				<img src="https://static1.squarespace.com/static/54318ac9e4b08711a4a470ed/t/5b7ba54e758d462bead96229/1534829904426/j-web-1.jpg?format=2500w"
        alt="jonathan skudlik headshot">
	</div>
  
  <div class="profile-usermenu">
    <ul class="nav">
        <li class="active">
          <a href="/profile/records">Have a look at your collection!</a>
        </li>
        <li>
          <a href="/profile/inbox">Here are your incoming requests: </a>
        </li>

    <div>
        {{#each records}}
        <li class="record">
        <div>
            <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div>
            <h2>{{this.name}}</h2>
            <h3>{{this.artist}}</h3>
        </div>
        </li>
        {{/each}}
    </div>
    </ul>
  </div>