<h1>All records</h1>

<ul class="record-list">
    {{#each records}}
    <li class="record">
      <a href="/records/{{this.id}}">
        <div>
          <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div>
          <h2>{{this.name}}</h2>
          <h3>{{this.artist}}</h3>
        </div>
      </a>
    </li>
    {{/each}}
  </ul>


  