<h1>sign - up</h1>


<form method="POST" action="/auth/signup">

  <div class="field" >
    <label>Username</label>
    <input type="text" name="username" value="{{fields.username}}" placeholder="Username"/>
  </div>

  <div class="field" >
    <label>Password: </label>
    <input type="password" name="password" placeholder="Your password"/>
  </div>
  <div class="form-message">
    {{#if message1}}
      <p class="validation">{{message1}}</p>
    {{/if}}
    {{#if message2}}
      <p class="validation">{{message2}}</p>
    {{/if}}
  </div>

  <div class="field submit">
    <button type="submit">Submit</button>
  </div>
</form>
