
<main>
  <div> 
    <h1>Meet the team</h1>
    <div class="nav-bar">
      <a href="http://webbcn-0818-v2.herokuapp.com" class="btn btn-default"><button>About</button></a> 
    </div>
  </div>

  <div>
    <h2>Hello!</h2>
      <h3>Jonathan - master of the CSS universe</h3>
        <li id="project-5" class="photo">
          <img alt="" src="https://media.giphy.com/media/1wpxKB39vRX6xMaIY2/giphy.gif" />
          <p class="label">
            <span>Joanthan</span>
            <a href="https://github.com/Dbpautt/trade-A-record" target="_blank" class="project">Project</a>
          </p>
        </li> 
      </div>
  <div>
     <h3>Diana - la colombiana, claro</h3>
      <li id="project-2" class="photo">
        <img alt="" src="https://media.giphy.com/media/2t9m7p4fY2DQEKT7fM/giphy.gif" />
        <p class="label">
          <span>Diana</span>
          <a href="https://github.com/Dbpautt/trade-A-record" target="_blank" class="project">Project</a>
        </p>
      </li> 
    </div>
  <div>
     <h3>Brabra - never not eating</h3>
      <li id="project-4" class="photo">
        <img alt="" src="https://media.giphy.com/media/cRNb3CMoMWMh0BOvX2/giphy.gif" />
      <p class="label">
       <span>Barbara</span>
       <a href="https://github.com/Dbpautt/trade-A-record" target="_blank" class="project">Project</a>
     </p>
    </li> 
  </div>
</div>
</main>


  