<h2>Thank you for your request - here are the details</h2>

<section>

  <div class="detail">
    <div>
      <h3>Requested Record: </h3>
      <img src="{{requestedRecord.coverImageURL}}" alt="">
    </div>
  </div>

  <hr>

  <div class="detail">
    <div>
      <h3>Offered Record: </h3>
      <img src="{{offeredRecord.coverImageURL}}" alt="">
    </div>
  </div>

</section>