<h1>Here are your trade details - keep on trading!</h1>


<div class="record">
        <div>
          <h3>Requested Record: </h3>
          <img src="{{requestedRecord.coverImageURL}}" alt="">
        </div>
    </div>

    <hr>

    <div class="record">
        <div>
          <h3>Offered Record: </h3>
          <img src="{{offeredRecord.coverImageURL}}" alt="">
        </div>
    </div>