@import '../variables';


.button {
  text-decoration: none;
  color: white ;
  background-color: $color-prime;
  border: 2px solid $color-prime;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
  padding: 20px 30px;
  text-align: center;
  
  
  &.danger {
    color: $color-inverse-fg;
    background-color: $color-button-danger-bg;
  }

 &.accept {
    background-color: green;
  }
  
  &.reject {
    background-color: red;
  }

  &.invert {
    color: $color-prime;
    border: 3px solid $color-prime;
    background-color: hsla(0, 0%, 0%, 0);
    padding: 10px 30px;
  }

  &.secondary {
    color: white;
    border: 3px solid white;
    background-color: hsla(0, 0%, 0%, 0);
    padding: 10px 50px;
  }

  &.select {
    padding: 10px 30px;
  }
}


.buttons {
  display: grid;
}
