section.form {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100vh;
  height: 87vh;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
  margin-bottom: 20px;

}

form label {
  display: block;
  padding-left: 10px;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border-style: hidden;
  border-bottom: 1px solid #bebebe;
  font-size: 28px;
  font-weight: 200;
}

form input:focus {
  outline: none;
}


form .submit {
  padding-top: 20px;
  text-align: center;
}

textarea {
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border-style: hidden;
  border: 1px solid #bebebe;
  font-size: 16px;
  font-weight: 200;
}

textarea:focus {
  outline: none;
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

select:focus {
  outline: none;
}

form .validation {
  margin: 5px 0 10px;
  color: red;
}

form .field.has-error label {
	color: red;
}
form .field.has-error input {
	border: 1px solid  red;
}

.form-message {
  height: 40px;
}