@import '_variables';


//----Burger menu button----
.navbar-toggle-button {
  z-index: 100;
  position: fixed;
  top: 25px;
  right: 25px;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: opacity .25s ease; 
}
.navbar-toggle-button span {
  background: #111;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease;
  cursor: pointer; 
}
 .navbar-toggle-button span:nth-of-type(2) {
    top: 7px; 
}
  .navbar-toggle-button span:nth-of-type(3) {
    top: 14px; 
}

/*Change class on click*/

.navbar-toggle-button.open span.top {
  transform: translateY(7px) translateX(0) rotate(45deg); 
  background: white;

}
.navbar-toggle-button.open span.middle {
  opacity: 0; 
  background: white;
}
.navbar-toggle-button.open span.bottom {
  background: white;
  transform: translateY(-7px) translateX(0) rotate(-45deg); 
}

#main-nav {
  box-sizing:border-box;
  position: fixed;
  height: 100%;
  width:100%;
  top:-100%;
  left: 0;
  color:#fff;
  transition: all .4s; 
  background: $color-prime;
  opacity: 0.95;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

#main-nav.open{
  height: 100%;
  top:0;
  }

//----Site header----
#site-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

#site-header li{
  list-style: none; 
}

#site-header img.logo{
  height: 100%;
  width: auto;
  text-align: left
}

#site-main {
  min-height: 86vh;
}


#site-main > a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 20px;
}

section {
  margin-bottom: 40px;
  padding-top: 20px;
}

.landing {
  display: table-cell;
  vertical-align: middle;
  height: 87vh;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://i.pinimg.com/originals/16/1a/a3/161aa36d31b675853905ef60fce2768c.jpg);
  background-size: cover;
  position: relative;
  color: white;
}

.landing div {
  display: inline-block;
  padding: 20px;
  margin: auto 0;
  position: relative
}

.record-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.empty-requests {
  color: grey;
}

iframe {
  margin-bottom: 20px;
}

.record {
  width: 100%;
  margin: 1%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

.detail {
  margin-bottom: 40px;
}

section img {
  width: 100%;
}

section img {
  width: 100%;
}

div img {
  width: 100%;
}

.record div {
  width: 100%;
  padding: 1px;
}

.record a {
  text-decoration: none;
  color: #222;
}

.request {
  display: flex;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;

  &.pending {
    background-color: $color-pending;
  }

  &.approved {
    background-color: $color-approved;
  }

  &.rejected {
    background-color: $color-rejected;
  }

  &.detail {
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: 2px solid $color-prime;
  }
  
  &.detail img {
    clip-path: circle(49% at center);
    width: 100%;
    margin: auto 0;
  }

  .cover {
    flex: 1;
  }

  .info {
    flex: 2;
    padding: 0 20px;
    margin: auto 0;
  }
  
}

.action {
  display: flex;
  justify-content: center;

  .spacing {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #bbb; 
  }
}

.select-list {
  width: 100%;
  margin-bottom: 10px;

  .select {
    padding: 10px;
    display: flex;
    box-shadow: 0px 2px 0px 0px  rgba(0, 0, 0, 0.1);
  }

  .cover {
    flex: 1;
  }

  .info {
    flex: 1;
    padding: 0 20px;
    margin: auto 0;
  }

}

.check-out {
  &.details {
    display: flex;
  }

  .element {
    flex: 1;
    padding: 10px;
  }

  .element.right {
    text-align: right;
  }

}


.fixed {
  position: sticky;
  padding: 15px 0;
  top: 0px;
  background-color: white;
  box-shadow: 0px 3px 0px 0px  rgba(0, 0, 0, 0.1);
}


.req-element {
  flex: 1;
  width: 20%;
  padding: 0 3px;
  text-align: center;
}


@media (min-width: 400px) {
  .container {
    margin: 0 20px;
  }

  .record-list {
    display: flex;
    flex-wrap: wrap;
  }

  .record {
    width: 47%;
    position: relative;
    margin: 0 1% 2% 1%;
  }

  .record>img {
    width: 100%;
  }

  .record-info > h3 {
    text-transform: capitalize;
  }

}

hr {
  max-width: 120px;
  margin: 0 auto 30px auto;
  
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .record-list {
    justify-content: space-between;
  }

  .record:hover {
    background-color: #ff4848;
  }

  .record a:hover {
    color: white;
  }

  .record {
    width: 30%;
    
  }

  .record:nth-child(3n+1):nth-last-child(-n+3) ~ .record {
    margin-left:calc(30% * .100);
    margin-right: auto;
 }
}

@media (min-width: 1000px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .record {
    width: 23%;
  }

  .record:nth-child(4n+1):nth-last-child(-n+4) ~ .record {
    margin-left:calc(12% * .100);
    margin-right: auto;
 }
}

#site-footer {
  color: white;
  background: $color-prime;
  text-align: center;
  padding: 20px 0;

  li {
    padding: 0 5px;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
  }
  
  a {
    color: white;
  }

  .social-media img {
    width: 24px;
    margin-bottom: 0;
  }

}

