//----Burger menu button----
.navbar-toggle-button {
  z-index: 100;
  position: fixed;
  top: 15px;
  right:15px;
  margin-left:-15px;
  height: 20px;
  width: 30px;
  cursor: pointer;
  transition: opacity .25s ease; 
}
.navbar-toggle-button span {
  background: #000;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease;
  cursor: pointer; 
}
 .navbar-toggle-button span:nth-of-type(2) {
    top: 6px; 
}
  .navbar-toggle-button span:nth-of-type(3) {
    top: 12px; 
}

/*Change class on click*/

.navbar-toggle-button.open span.top {
  transform: translateY(6px) translateX(0) rotate(45deg); 
}
.navbar-toggle-button.open span.middle {
  opacity: 0; 
}
.navbar-toggle-button.open span.bottom {
  transform: translateY(-6px) translateX(0) rotate(-45deg); 
}

#main-nav {
  box-sizing:border-box;
  position: fixed;
  height:auto;
  width:100%;
  top:-100%;
  left: 0;
  color:#fff;
  transition: all .4s; 
  background:darkgray;
  text-align:center;
}

#main-nav.open{
  height:auto;
  top:0;
  }
//----Site header----
#site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

#site-header a {
  text-decoration: none;
  color: #222; 
}

#site-header h1 {
  flex: 4;
}

#site-header nav {
  flex: 1;
}

#site-header li{
  list-style: none;
  display: inline;
  padding-right: 10px;
}

#site-header li:last-child{
  padding-right: 0px;
}

//----Site main----
#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.record-list {
  display: flex;
  flex-wrap: wrap;
}

.record {
  width: 48%;
  margin: 2px;
  background-color: #eee
}

.record img {
  width: 100%
}

.record div {
  width: 100%;
  padding: 1px;
}

.record a {
  text-decoration: none;
  color: #222;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .record-list {
    display: flex;
    flex-wrap: wrap;
  }

  .record {
    width: 48%;
    position: relative;
  }

  .record>img {
    width: 100%;
  }

  .record>h3 {
    position: absolute;
  }

  .record a:hover {
    color: white;
  }
}

//----Site footer----
#site-footer {
  color: black;
  background: darkgray;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  height: 150px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: -50px;
  }
  

#site-footer .social-media {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

#site-footer .social-media li {
  padding-right: 15px;
  list-style: none;
  text-decoration: none;
}

#site-footer .social-media li:last-child {
  margin-right: 0;
}

#site-footer .social-facebook {
  background: url(../public/images/facebook.png) no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  padding: 30px;
}

#site-footer .social-instagram {
  background: url(../public/images/instagram.png) no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  padding: 30px;
}

.fine-print p {
  margin: 10px;
  padding: 0;
  margin-left: 20px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
}

