#site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

#site-header a {
  text-decoration: none;
  color: #222; 
}

#site-header h1 {
  flex: 4;
}

#site-header nav {
  flex: 1;
}

#site-header li{
  list-style: none;
  display: inline;
  padding-right: 10px;
}

#site-header li:last-child{
  padding-right: 0px;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.record-list {
  display: flex;
  flex-wrap: wrap;
}

.record {
  width: 48%;
  margin: 2px;
  background-color: #eee
}

.record img {
  width: 100%
}

.record div {
  width: 100%;
  padding: 1px;
}

.record a {
  text-decoration: none;
  color: #222;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .record-list {
    display: flex;
    flex-wrap: wrap;
  }

  .record {
    width: 48%;
    position: relative;
  }

  .record>img {
    width: 100%;
  }

  .record>h3 {
    position: absolute;
  }

  .record a:hover {
    color: white;
  }
}

