html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 150%;
  color: grey;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #e54009;
  line-height: 150%;
}

h3 {
  font-size: 20px;
  padding-bottom: 15px;
}

h4 {
  font-size: 16px;
  padding-top: 20px;
}

p {
  margin: 0;
  text-align: center;
}

a {
  color: #414141;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
}

a:hover {
  color: #e54009
}

.team img {
  float: none;
  margin: 0 auto;
  width: 40%;
  height: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  border-radius: 50%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color:black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-nickname {
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 25px;
  margin-bottom: 20px;
  line-height: 20px;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  color: black;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: black;
  margin-left: -2px;
}

.profile-content {
  padding: 20px;
  min-height: 460px;
}