body {
  color: #111;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

h1 {
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}

h2 {
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;

}

h3 {
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

p {
  padding-top: 5px;
  margin-bottom: 5px;
}

ul, li{
  list-style: none;
}

.auth{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 50px;
  color: white;
}

.navigation li{
  font-size: 32px;
  font-weight: 700;
}

.navigation a{
  text-decoration: none;
  color: white; 
}

.record-info{
  text-align: center;
  margin-bottom: 30px;
  color: grey;
  text-decoration: none;
}
